*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-color: #1f1d1c;
    overflow-x: hidden;
    transition: background-color 2s ease-in-out;
}

#container{
    width: 100vw;
    height: 100vh;
}

#bg{
    background-image: url('Body_image.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 35%;
    filter: blur(2px);
    position: absolute;
    z-index: -1;
}

#heading{
    display: flex;
    justify-content: center;
    position: relative;
    top: 18%;
}

h1{
    margin-right: 15%;
    font-size: 2em;
    cursor: none;
    user-select: none;
}

.icons{
    font-size: 2em;
    cursor: pointer;
    animation: rotate 2s ease-in-out;
}

#heading .hidden-icon{
    display: none;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 25%;
}

#main-2{
    position: relative;
}

.btn{
    background-color: #1f1d1c;
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    padding: 15px 20px 15px 60px;
    font-size: 1em;
    user-select: none;
    cursor: pointer;
}

.circle{
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 1em;
    cursor: pointer;
}

.context{
    list-style: none;
}

.content{
    position: relative;
}

.write-content{
    background-color: #1f1d1c;
    border: 1px solid black;
    border-radius: 10px;
    width: 190px;
    margin-top: 1px;
    padding: 15px 70px 15px 20px;
    font-size: 1em;
    user-select: none;
    cursor: text;
    outline: 0;
}

.bin{
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 1em;
    cursor: pointer;
}

.strike{
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 1em;
    cursor: pointer;
}

.undisplay{
    display: none;
}

.unactive{
    text-decoration: line-through;
}